.bg-dark{
    background-color: #282b36 !important;
}

.bg-secondary{
    background-color: #3f414d !important;
}

.bg-btn{
    background-color: #e17322;
}

.bg-none{
    background-color: rgba(0,0,0,0);
}

.image-center{
    margin: auto !important;
}

.just-text{
    text-align: justify;
}

.space-text{
    letter-spacing: 4px;
}

.large-text{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 2px;
    display:inline-block;
}

.invert{
    filter: invert(70%);
    transition: 0.2s;
}
.invert:hover{
    filter: invert(100%) drop-shadow(0px 0px 5px white);
}

.card-in{
    animation: card-in 1s ease-in-out forwards;
}
@keyframes card-in {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.press{
    transition: 0.2s;
}
.press:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    filter: drop-shadow(0px 0px 10px black);
}

body{
    background-color: #282b36 !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    background-color: #282b36;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f414d; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f414d;
  }





  /* Switch CSS */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e17322;
    filter: drop-shadow(0px 0px 8px #e17322);
}

input:focus + .slider {
    box-shadow: 0 0 1px #e17322;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* Desactivar Aireador */
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }